{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "vueIndentScriptAndStyle":true,
  "embeddedLanguageFormatting": "auto",
  "requirePragma": false
}